.rger{
    background-image: url('../public/images/group-young-people-posing-photo_52683-18823-transformed.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
   
 

}